/* navbar */

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .nav-div {
        display: block; /* Change to block display on smaller screens */
        text-align: left; /* Align items to the left */
    }

    .nav-item {
        display: block; /* Display items as blocks on smaller screens */
        margin: 10px 0; /* Adjust the spacing between items */
    }
}

/* home */

@media only screen and (max-width: 768px) {
    .home-content {
        padding: 15px;
    }

    .home-content p{
        font-size: medium;
    }

    .social-icons {
        bottom: 0;
    }

    .social-icons a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .home-content {
        max-width: 100%;
    }
}


/* about  */

@media only screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Stack elements on small screens */
        text-align: center; /* Center text on small screens */
    }

    .about-content img {
        max-width: 100%;
        margin-bottom: 15px; /* Add some spacing between image and text on small screens */
    }

    .text-area {
        max-width: 100%;
    }

    .about-section {
        padding: 15px;
    }
}