body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: rgba(25, 24, 24, 0.7); /* Initial background color with transparency */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.nav-div {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main {
    padding: 20px;
}

.home {
    background-image: url('../img/laptop.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 100vh;
}

.home-content {
    position: relative;
    top: 30vh;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 4px 1px 4px 0px black;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control darkness */
    padding: 20px; /* Add padding to make text more readable */
}

.home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.home p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.social-icons {
    position: absolute;
    bottom: 0; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

/* about  */

.about-section {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 4px 1px 4px 0px black;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.image-container {
    margin-right: 20px;
    overflow: hidden;
    border: 4px solid #fff; /* White border for contrast */
}

.about-image {
    position: relative;
    top: 10vh;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Add smooth hover effect */
}

.image-container:hover .about-image {
    transform: scale(1.1); /* Scale up on hover */
}

.text-area {
    max-width: 400px;
    text-align: left;
}

.text-area h3 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

.text-area p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
}

.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* education  */

.education {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

.education-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.education-item:hover {
    transform: scale(1.05);
}

.degree {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.degree i {
    margin-right: 10px;
}

.institution {
    color: #555;
}

.date {
    color: #888;
}

/* skils  */

/* ===== SKILLS =====*/
.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    left: 0;
    right: 0;
    width: 90vw;

    padding: 20px; /* Add padding for better spacing */
}

.col {
    width: 100%; /* Adjust to your design needs */
    max-width: 350px;
    height: auto;
    margin-bottom: 2rem; /* Adjust spacing between columns */
    padding: 1rem; /* Adjust padding */
    background: rgba(242, 232, 232, 0.2);
    background-color: #2c3e50; /* Set the background color for .row */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

.skills__p {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills__p li {
    color: #fff; /* Set text color to white */
    margin-bottom: 0.5rem; /* Add some spacing between items if needed */
}

.skills__p li i {
    margin-right: 1rem; /* Add margin between icon and text */
}

.skills__tag {
    color: #ffffff;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    flex-direction: column; /* Adjust for smaller screens */
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: 2vw;
    margin-bottom: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /* Adjust spacing */
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    width: 100%; /* Fill the entire width */
    z-index: var(--z-back);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 65%;
}

.skills__ux {
    width: 85%;
}

.skills__img {
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.792);
}


/* projects  */

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text within the container */
    min-height: 100vh;
    overflow: hidden;
    background-color: #1F2024;

}

.Project-name {
    margin-top: 20px;
    color: #ffffff;
}

.blob-c {
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    filter: blur(40px);
    /*   background: rgba(255,255,255,0.1) */
}

.shape-blob {
    background: #26C3F9;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation: transform 18s ease-in-out infinite both alternate,
    movement_one 12s ease-in-out infinite both;
    opacity: .7;
    position: absolute;
    left: 75%;
    top: 40%;
}

.shape-blob.one {
    background: #0085FF;
    height: 150px;
    width: 200px;
    left: 10px;
    top: 10px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six {
    background: #0EAFFF;
    height: 70px;
    width: 100px;
    left: 160px;
    top: 400px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 7s ease-in-out infinite both;
}

.shape-blob.four {
    background: #4EAEFF;
    height: 100px;
    width: 80px;
    left: 350px;
    top: 60px;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.five {
    background: #0085FF;
    height: 100px;
    width: 80px;
    left: 480px;
    top: 250px;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}

.shape-blob.two {
    background: #4EAEFF;
    height: 150px;
    width: 150px;
    left: 600px;
    top: 250px;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}

.shape-blob.three {
    background: #0EAFFF;
    height: 150px;
    width: 150px;
    left: 800px;
    top: 30px;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}

@keyframes transform {
    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }
    20% {
        border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
    }
    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
    }
    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
    }
    80% {
        border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
    }
}

@keyframes movement_one {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: translate(50%, 20%) rotateY(10deg) scale(1);
    }
}

@keyframes movement_two {
    0%,
    500% {
        transform: none;
    }
    50% {
        transform: translate(50%, 100%) rotate(-200deg) scale(1.3);
    }
}


/* CARD */

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px 40px 40px 80px;
}

.card {
    width: min(100%, 500px);
    background: rgba(255, 255, 255);
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    z-index: 5;
}

.card > img {
    display: block;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 16px 16px 0 0;
    filter: contrast(70%);
    transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card > img:hover {
    filter: contrast(100%);
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px;
}

.card-content > p {
    margin-bottom: 10px;
}

.card-content > p:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1e40af;
}

.card-content > p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6b7280;
}


/* Gallery */


/* contact */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


.social-icons-contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons-contact a :hover{
    color: #000000;
}

.social-icons-contact a {
    margin: 0 10px;
    text-decoration: none;
    color: #3498db; /* Adjust the color if needed */
    font-size: 2rem; /* Adjust the size of your icons */
}


/* footer */

footer {
    background-color: rgba(25, 24, 24, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* loader */

#loader {
    transition: opacity 1s;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
}

#loader > div {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../img/loading.gif");
    background-size: cover;
    background-position: center;
}

/* modes */

.light-mode {
    /* Define your light mode styles */
    background-color: white;
    color: black;
}

/* CSS for Dark Mode */
.dark-mode {
    /* Define your dark mode styles */
    background-color: #262626;
    color: white;

}
#theme-toggle{
    position: fixed;
    right: 10px;
}

/* Hamburger */

@media only screen and (max-width: 425px) {
    .nav-div {
        display: none; /* Hide regular navigation */
    }

    #hamburger-icon {
        display: block; /* Show hamburger icon */
        font-size: 24px; /* Adjust the size as needed */
        cursor: pointer;
        color: white;
        margin-right: 10px; /* Add some spacing */
    }
}

/* Additional styles for larger screens */
@media only screen and (min-width:426px) {
    #hamburger-icon {
        display: none; /* Hide hamburger icon for larger screens */
    }

    .nav-div {
        display: flex; /* Show regular navigation for larger screens */
    }
}